<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aalexandrakis.kimobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.aalexandrakis.kimobile.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.aalexandrakis.kimobile.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kimo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.aalexandrakis.kimobile" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <activity
            android:name="com.aalexandrakis.kimobile.ActivityLogin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:name="com.aalexandrakis.kimobile.ActivityRegister"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityRegister" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aalexandrakis.kimobile.ActivityResetPassword"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityResetPassword" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aalexandrakis.kimobile.ActivityMain"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aalexandrakis.kimobile.ActivityPlayNow"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityPlayNow" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aalexandrakis.kimobile.ActivityViewActiveBets"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityViewBets" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aalexandrakis.kimobile.ActivityViewArchiveBets"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityViewArchiveBets" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name="com.aalexandrakis.kimobile.ActivityViewUnnotifiedBets"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.aalexandrakis.kimobile" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityViewUnnotifiedBets" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name="com.aalexandrakis.kimobile.ActivityViewDraws"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityViewDraws" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aalexandrakis.kimobile.ActivityUpdateAccount"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityUpdateAccount" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="Notifier"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>