<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.aalexandrakis.kimobile"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kimo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.aalexandrakis.kimobile.ActivityLogin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         
         <activity android:name="com.aalexandrakis.kimobile.ActivityRegister" android:label="@string/app_name" android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityRegister"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
         <activity android:name="com.aalexandrakis.kimobile.ActivityResetPassword" android:label="@string/app_name" android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityResetPassword"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.aalexandrakis.kimobile.ActivityMain" android:label="@string/app_name" android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityMain"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.aalexandrakis.kimobile.ActivityPlayNow" android:label="@string/app_name" android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityPlayNow"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.aalexandrakis.kimobile.ActivityViewBets" android:label="@string/app_name" android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityViewBets"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.aalexandrakis.kimobile.ActivityViewDraws" android:label="@string/app_name" android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityViewDraws"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.aalexandrakis.kimobile.ActivityUpdateAccount" android:label="@string/app_name" android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.aalexandrakis.kimobile.ActivityUpdateAccount"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>